{% include "header.html" %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Your Healthy<br>Diet</h2>
          <p data-aos="fade-up" data-aos-delay="100">Personalized nutrition for reaching your health goals effortlessly.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/form" class="btn-book-a-table">Get the Diet</a>
            
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/media/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(/media/phic.jpg); background-size: cover; background-position: center; height: 800px;" data-aos="fade-up" data-aos-delay="150">

            <div class="call-us position-absolute">
              <h4>Get the Diet</h4>
              
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Reach your diet and nutritional goals with NutriCraft, a comprehensive dietary analysis and meal planning tool that provides personalized nutritional guidance to help you achieve optimal health and well-being.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Your personalized nutrition partner for a healthier lifestyle.</li>
                <li><i class="bi bi-check2-all"></i>Empowering you with tailored nutrition recommendations for a balanced diet.</li>
                <li><i class="bi bi-check2-all"></i> Transforming health through personalized dietary analysis and guidance.</li>
              </ul>
              <p>
                Revolutionizing health through personalized nutrition recommendations based on Dietary Reference Intake values, offering diverse, 
                evidence-based food options and recipes to empower individuals in making informed dietary choices and optimizing their overall well-being.
              </p>

              <div class="position-relative mt-4">
                <img src="/media/about-2.jpg" class="img-fluid" alt="">
               
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Nutricraft?</h3>
              <p>
                NutriCraft offers personalized diet recommendations based on DRI values, providing diverse, 
                evidence-based food options and recipes to empower users in achieving optimal health and 
                well-being. With NutriCraft, users receive tailored nutritional guidance, backed by scientific 
                research, to make informed dietary choices and enjoy delicious meals tailored to their needs and goals.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-center">
            <div class="row gy-4">

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Comprehensive Nutritional Analysis: </h4>
                  <p>NutriCraft goes beyond generic dietary advice by analyzing nutrient intake and offering food recommendations 
                    rich in essential vitamins, minerals, and macronutrients to promote overall health and well-being.

                  </p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Variety and Flexibility:</h4>
                  <p>NutriCraft offers a diverse range of food options and recipes, ensuring that users can enjoy a variety of delicious and
                     nutritious meals while meeting their nutritional requirements.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Evidence-Based Approach: </h4>
                  <p>NutriCraft's recommendations are backed by scientific research and adhere to established nutritional guidelines, providing 
                    users with trustworthy and reliable dietary advice.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <section id="stats-counter" class="stats-counter">
      <div class="container aos-init aos-animate" data-aos="zoom-out">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="5" class="purecounter">0</span>
              <p>Food for each meal</p>
            </div>
          </div><!-- End Stats Item -->
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="260" data-purecounter-duration="5" class="purecounter">0</span>
              <p>Type of Food</p>
            </div>
          </div><!-- End Stats Item -->
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="123400" data-purecounter-duration="5" class="purecounter">0</span>
              <p>No. of Recipes</p>
            </div>
          </div><!-- End Stats Item -->
          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="5" class="purecounter">0</span>
              <p>No. of Meals</p>
            </div>
          </div><!-- End Stats Item -->
        </div>
      </div>
    </section>
    

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Meal</h2>
          <p>Check Your <span>Diet</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Breakfast</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Lunch</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Snacks</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Dinner</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Breakfast</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-1.png" class="glightbox"><img src="/media/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Panner Chilli</h4>
                <p class="ingredients">
                  Panner,Caspican,Onion,Green Chilli
                </p>
                <p class="price">
                  275 Calories  
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-2.png" class="glightbox"><img src="/media/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Spring Rolls</h4>
                <p class="ingredients">
                  Spring roll wrappers,Shredded cabbage,Carrots
                </p>
                <p class="price">
                  145 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-3.png" class="glightbox"><img src="/media/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Noodles</h4>
                <p class="ingredients">
                  Noodles, soy sauce, sesame oil, vegetables.
                </p>
                <p class="price">
                  219 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-4.png" class="glightbox"><img src="/media/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Sprouts</h4>
                <p class="ingredients">            
                Sprouts, olive oil, garlic, salt, pepper
                </p>
                <p class="price">
                  120 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-5.png" class="glightbox"><img src="/media/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Meat</h4>
                <p class="ingredients">
                  Meat,olive oil, Chilli, salt, pepper
                </p>
                <p class="price">
                  230 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-6.png" class="glightbox"><img src="/media/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Fried Rice</h4>
                <p class="ingredients">
                  Rice, eggs, soy sauce, vegetables, oil
                </p>
                <p class="price">
                  300 Calories
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Starter Menu Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Lunch</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-1.png" class="glightbox"><img src="/media/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Panner Chilli</h4>
                <p class="ingredients">
                  Panner,Caspican,Onion,Green Chilli
                </p>
                <p class="price">
                  275 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-2.png" class="glightbox"><img src="/media/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Spring Rolls</h4>
                <p class="ingredients">
                  Spring roll wrappers,Shredded cabbage,Carrots
                </p>
                <p class="price">
                  145 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-3.png" class="glightbox"><img src="/media/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Noodles</h4>
                <p class="ingredients">
                  Noodles, soy sauce, sesame oil, vegetables.
                </p>
                <p class="price">
                  219 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-4.png" class="glightbox"><img src="/media/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Sprouts</h4>
                <p class="ingredients">
                  Sprouts, olive oil, garlic, salt, pepper
                </p>
                <p class="price">
                  120 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-5.png" class="glightbox"><img src="/media/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Meat</h4>
                <p class="ingredients">
                  Meat,olive oil, Chilli, salt, pepper
                </p>
                <p class="price">
                  230 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-6.png" class="glightbox"><img src="/media/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Fried Rice</h4>
                <p class="ingredients">
                  Rice, eggs, soy sauce, vegetables, oil
                </p>
                <p class="price">
                  
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Breakfast Menu Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Snacks</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-1.png" class="glightbox"><img src="/media/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Panner Chilli</h4>
                <p class="ingredients">
                  Panner,Caspican,Onion,Green Chilli
                </p>
                <p class="price">
                  275 Calories 
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-2.png" class="glightbox"><img src="/media/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Spring Rolls</h4>
                <p class="ingredients">
                  Spring roll wrappers,Shredded cabbage,Carrots
                </p>
                <p class="price">
                  145 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-3.png" class="glightbox"><img src="/media/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Noodles</h4>
                <p class="ingredients">
                  Noodles, soy sauce, sesame oil, vegetables.
                </p>
                <p class="price">
                  219 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-4.png" class="glightbox"><img src="/media/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Sprouts</h4>
                <p class="ingredients">
                  Sprouts, olive oil, garlic, salt, pepper
                </p>
                <p class="price">
                  120 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-5.png" class="glightbox"><img src="/media/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Meat</h4>
                <p class="ingredients">
                  Meat,olive oil, Chilli, salt, pepper
                </p>
                <p class="price">
                  230 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-6.png" class="glightbox"><img src="/media/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Fried Rice</h4>
                <p class="ingredients">
                  Rice, eggs, soy sauce, vegetables, oil
                </p>
                <p class="price">
                  300 Calories
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Lunch Menu Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Menu</p>
              <h3>Dinner</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-1.png" class="glightbox"><img src="/media/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
                <h4>Panner Chilli</h4>
                <p class="ingredients">
                  Panner,Caspican,Onion,Green Chilli
                </p>
                <p class="price">
                  275 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-2.png" class="glightbox"><img src="/media/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
                <h4>Spring Rolls</h4>
                <p class="ingredients">
                  Spring roll wrappers,Shredded cabbage,Carrots
                </p>
                <p class="price">
                  145 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-3.png" class="glightbox"><img src="/media/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
                <h4>Noodles</h4>
                <p class="ingredients">
                  Noodles, soy sauce, sesame oil, vegetables.
                </p>
                <p class="price">
                  219 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-4.png" class="glightbox"><img src="/media/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
                <h4>Sprouts</h4>
                <p class="ingredients">
                  Sprouts, olive oil, garlic, salt, pepper
                </p>
                <p class="price">
                  120 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-5.png" class="glightbox"><img src="/media/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
                <h4>Meat</h4>
                <p class="ingredients">
                  Meat,olive oil, Chilli, salt, pepper
                </p>
                <p class="price">
                  230 Calories
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <a href="/media/menu-item-6.png" class="glightbox"><img src="/media/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                <h4>Fried Rice</h4>
                <p class="ingredients">
                  Rice, eggs, soy sauce, vegetables, oil
                </p>
                <p class="price">
                  300 Calories
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dinner Menu Content -->

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="Developer" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Developer</h2>
          <p>Saying <span>About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        As the Full Stack Developer and Team Leader, I spearhead our website's development, ensuring seamless integration of front and back-end functionalities for an exceptional user experience.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Akash Choudhary</h3>
                      <h4>Leader &amp; Full Stack Developer</h4>
                      
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="/media/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        As the designer and documentation expert, brings creativity to our website's aesthetic while meticulously crafting comprehensive documentation for seamless project management and user understanding.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Roshani Dubey</h3>
                      <h4>Data Processor, Designer &amp; Documentation</h4>
                
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="/media/roshani.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        As the frontend developer, I focus on crafting engaging user interfaces and intuitive experiences, ensuring our website captivates and delights users from the moment they arrive.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sejal Ingale</h3>
                      <h4>Frontend Developer</h4>
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="/media/sejals.jpg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        As the backend developer, I'm dedicated to crafting robust server-side systems and databases, ensuring the smooth operation and efficiency of our website's functionality.
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Abhishek Bharambe</h3>
                      <h4>Backend Developer</h4>
            
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="/media/abhi.png" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

 

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Food</h2>
          <p>Check <span>Food</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery1.jpg"><img src="/media/gallery1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery2.jpg"><img src="/media/gallery2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery3.jpg"><img src="/media/gallery3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery4.jpg"><img src="/media/gallery4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery5.jpg"><img src="/media/gallery5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery6.jpg"><img src="/media/gallery6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery7.jpg"><img src="/media/gallery7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/media/gallery8.jpg"><img src="/media/gallery8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.9214879474647!2d72.82712817537757!3d19.19782061730375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c964f17f2223%3A0x25e68e21897eac5e!2sAtharva%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1647115071687!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>


        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>Atharva College of Engineering</p>
                <p>Malad Marve Road, Shri Sevantilal Khandwala Marg, Charkop Naka, Malad West, Mumbai, Maharashtra 400095</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <a href="mailto:nutricraft@example.com">nutricraft@example.com</a>

              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <a href="tel:+918282829789">+91 8282829789</a>

              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Github</h3>
                <a href="https://github.com/shadow735/Food-Reomendation.git">https://github.com/shadow735/Food-Reomendation.git</a>

              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form method="POST" action="{% url 'contact' %}" role="form" class="php-email-form p-3 p-md-4">
          {% csrf_token %}
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="Cname" class="form-control" id="Cname" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="Cemail" id="Cemail" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Csubject" id="Csubject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="Cmessage" rows="5" placeholder="Cmessage" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit"  value="Send Message">Send Message</button></div>

        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  

{% include "footer.html" %}
